<h2>Edycja profilu <%= "ucznia" if resource_name.to_s.humanize == "User" %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :hasło %>
    <% if @minimum_password_length %>
      <em>(minimum <%= @minimum_password_length %> znaków)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "email@example.com", class: 'form-control' %>
    <small id="emailHelp" class="form-text text-muted">(pozostaw puste, jeśli nie chcesz tego zmieniać)</small>
  </div>

  <div class="form-group">
    <%= f.label :powtórz_hasło %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :aktualne_hasło %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    <small id="emailHelp" class="form-text text-muted">(potrzebujemy twojego aktualnego hasła, aby potwierdzić zmiany)</small>
  </div>

  <div class="actions">
    <%= f.submit "Zaktualizuj", class: 'btn btn-dark' %>
  </div>
<% end %><br /><br />

<h3>Dezaktywacja</h3>

<%= link_to "Usuń konto", registration_path(resource_name), class: 'btn btn-dark', data: { confirm: "Jesteś pewien?" }, method: :delete %></p>

<%= link_to "Cofnij", :back, class: 'btn btn-outline-secondary' %>
